# Node modules dan build artifacts
node_modules
dist

# Log dan cache
npm-debug.log*
yarn-error.log*
*.log

# File git / IDE / OS
.git
.gitignore
.vscode
.DS_Store

# Environment / config lokal
.env
.env.* 

# Docker
Dockerfile
.dockerignore 